body{
    background-image: url(fundo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    font-family: 'Jalane Light';
    padding: 20px;
    position: relative;
    align-items: center;
}
.logo{
float: left;

}


#navegacao{ 
    bottom: 60px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    position: relative;
    padding-top: 100px;
}

.user{
    float: right;

}
input {
    border-radius: 100px;
    background-color:white;
    
    }
    
    a{
    text-decoration: none;
    
    }
    h1{
    
        width: 900px;
        font-size: 48px;
        font-family: 'Jalane Light';
        background-image: url(fundo.jpeg);
        text-align: center;
    }


section{
    font-family: 'Jalane Light' ;
    margin: auto;
    position: relative;
    text-align: justify;
    background-color: white;
    width: max-content;
    width: 900px;
    height: 950px;
    padding: 60px;
    border-radius: 60px;
}
iframe{
    width:900px; 
    height:450px;
    border-style: 0px; 
   

}



.informacao{

    text-align: justify;
    float: left;
}


p{
    font-size: 30px;
    text-align: justify;
}

.logout{
    float: right;
    display: flex;
    bottom: -70px;
    }
    
    .pago {


        width: 200px;
        height: 200px;
        border-radius: 90px;
    
        left: 100px;
        float: left;
    
    }
    
   
    
    .botaotpg {
        float: right;
        padding-top: 2px;
        font-family: 'Jalane Light';
        background-color: #439B8B;
        border: #439B8B;
        border-radius: 20px; 
        margin-top: 50px;    
        margin-right:400px;
        width: 200px;
        height: 60px;
        font-size: larger;
        color: white;
      
    
    
    }
